* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
}

html, body {
  overflow-y: scroll;
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
html {
  scrollbar-width: none;
}

.background {
  background: linear-gradient(9deg, rgba(211, 228, 235, 1) 2%, rgba(255, 255, 255, 1) 83%);
  min-height: calc(100vh - 60px);
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.promContent{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.promZero {
  text-align: center;
  background: linear-gradient(9deg, rgb(194, 212, 240) 2%, rgba(255, 255, 255, 1) 83%);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow */
}
.promZero h2{
 position: relative;
 top: -5rem;
 left: 2%;
 width: 25rem;
 color: #020074;
}
.promUp{
  margin-top: 20%;
 gap: 20px;
  display: flex;
}
.promZeroRightOne{
  text-align: center;
  
  background: linear-gradient(9deg, rgb(194, 212, 240) 2%, rgba(255, 255, 255, 1) 83%);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow */
}
.promZeroRightOne img {
  width: 20vw;
}

.promZeroRightOne h3 {
  width: 20vw;
  color: #020074;
}
.promZeroRight{
  flex-direction: column;
  display: flex;
  gap: 20px;
}
.promZeroRightTwo{
  color: #020074;
  height: 30vh;
  text-align: center;
  
  background: linear-gradient(9deg, rgb(194, 212, 240) 2%, rgba(255, 255, 255, 1) 83%);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow */
}
.promDown{
  margin-top: 20px;
  display: flex;
  gap: 20px;
}
.promDownTwo{
  margin-top: 70px;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: row;
  width: 22vw;
  background: linear-gradient(9deg, rgb(94, 149, 238) 2%, rgba(255, 255, 255, 1) 83%);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow */
}
.promDownTwo img{
 
  width: 10vw;
  border-radius: 20px;
}
.promDownTwo h3{
  color: #020074;
 
  width: 15vw;
  font-size: 1.5rem;
  top: 20px;
  left: 25px;
}
.promDownThree{
  background: linear-gradient(9deg, rgb(94, 149, 238) 2%, rgba(255, 255, 255, 1) 83%);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow */

  align-items: center;
  display: flex;
  flex-direction: row;
}
.promDownThree h3{
  color: #020074;
 margin-left: 50px;
  width: 7vw;
  font-size: 1.5rem;
}
.promDownThree img{
  width: 20vw;
}


.bottom-nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 10px 0;
}

.bottom-icon {
  margin-right: 5px;
}
.projects-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 50px;
  
}
.project-card{
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 25vw;
  height: auto;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow */
}
.project-card img{
  width: 20vw;
  height: 25vh;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .project-container{
    margin-top: 20%;
   margin-left: 20px;
margin-right: 20px;
   text-align: center;
  }
  .text-container{
    margin-top: 50px;
  }
  .projects-grid{
    grid-template-columns: 1fr;
   
  }
  .project-card img{
    width: 100%;
    height: auto;
    margin-top: 20px;
  }
  .project-card{
  width: 80%;
 margin-left: 40px;
  }
  .clients-grid{
   margin-left: -42%;
   margin-bottom: 50px;
  
  }
  .promUp{
    flex-direction: column;
    align-items: center;
    
    text-align: center;
  }
  .promZero{
    margin-left: 0;
    width: 100%;
  }
  .promZero img{
    width: 100%;
  }
  
  .promZero h2{
   top: 0;
   left: 0;
   margin-left: 0;
    font-size: 1.4rem;
    margin-bottom: 30px;
  }
  .promZeroRight{
    margin-left: 0;
    width: 100%;
  }
  .promZeroRight img{
  height: 10vh;
  width: 50vw;
  }
  .promZeroRight h3{
    width: 100%;
    margin-left: 0;
     font-size: 1.4rem;
     margin-top: 20px;
  }
  .promZeroRightTwo h3{
    margin-top: 20px;
  }
  .promZeroRightTwo img{
    height: 20vh;
    width: 70vw; 
  }
  .promDown{
   align-items: center;
    flex-direction: column;
  }
  .promDownTwo{
    width: 100%;
    flex-direction: column;
  }
  
  .promDownTwo img{
    
    width: 60%;
    flex-direction: column;
  }
  .promDownTwo h3{
    margin-top: 20px;
    width: 100%;
  }
  
  .promDownThree{
    width: 80%;
    flex-direction: column;
  }
  .promDownThree h3{
    margin-top: 20px;
    width: 100%;
    
  }
  .promDownThree img{
   
    
  }
  .probImg{
   
    width: 90% !important;
  }
  
  
}